* {
    margin: 10px;
    padding: 0;
}

body {
    background-color: beige;
}

svg path {
    fill: black;
    stroke: white;
    stroke-width: .25;
}

svg path:hover {
    fill: azure;
    transition: 0.6s;
    cursor: pointer;
}
