<p>flow-ui works!</p>
<div class="flex-row">

    <div class="flex-col">
        <div>
            <a href="#">
                <img src="../../../../assets/network-element1.png">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../../../../assets/network-element2.png">
            </a>
        </div>
    </div>
    <div>
        <a href="#">
            <img src="../../../../assets/mediation-system.png">
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../../../../assets/billing-system.png">
        </a>
    </div>

</div>